.white{
    height: 100px;
    width: 100px;
    background-color: white;
}
.black{
    height: 100px;
    width: 100px;
    background-color: black;
}
.container{
    height: 50vw;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,1fr);
}
body{
    background-color: aqua;
}