*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    padding: 5rem;
    height: 800px;
    width: 800px;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    row-gap: ;
    column-gap: ;
}
.box{
    font-size: 2rem;
    background-color: orange;
    border: 0.5rem solid black;
}
.header, .footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2/4;
}
.Box3{
    grid-column: 2/4;
}