.container{
    height: 800px;
    width: 800px;
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: orange;
    margin: 10px;
    height: 300px;
    width: 300px;
    /* box-shadow: 5px 20px 3px 30px red  ; */
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    /* transition-delay: 1s; */
}
.box:hover{
    background-color: black;
    width: 600px;
}